@import "./utils/variables";
@import "./utils/mixins";
@import "./composants/button";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/home.scss";
@import "./pages/a_la_francaise.scss";
@import "./base/typography.scss";

* {
  box-sizing: border-box;
  margin: 0 0;
  font-family: $fonts;
}
a {
  color: black;
  text-decoration: none;
}
@media #{$medium-down} {
  #menu{
    max-width: 800px;
    margin: 0 auto;
  }
  li{
    flex-basis: 31%;
  }
  ol {
    display: flex;
    justify-content: space-around;
  }
  #restaurants {
    div {
      flex-direction: unset;
      justify-content: space-around;
    };

  }
  footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h3{
      flex-basis: 100%;
      display: flex;
      justify-content: center;
      margin-left: -90px;
    }
  }
}

