footer {
    background-color: $footer-black-color;
    color: white;
    padding:0 20px;
    h3 {
      font-family: $fonts-logo;
      padding-top: 25px;
      padding-bottom: 15px;
      margin-top: 0;
    }
    ul {
      list-style-type: none;
      @include flex-column();
      padding: 0;
      color: white;
      li {
        padding-bottom: 8px;
        a {
          color: white;
          i {
            width: 14px;
            margin-right: 10px;
          }
        }
      }
    }
  }