@keyframes chargeur{
    0%{
     transform: rotate(0deg) scale(1);
    }
    25%{
     border-top-color: #9D59DC;
     border-bottom-color: #9D59DC;
    }
    50%{
     transform: rotate(360deg) scale(1)
    }
    75%{
     border-top-color: #e586df;
     border-bottom-color: #e586df;
    }
    100%{
     transform: rotate(720deg) scale(1)
    }
}
@keyframes stop{
    0% {
        scale: 1;
    }
    99%{
        scale: 1;
    }
    100%{
        scale: 0;
    }
}
@keyframes hearth {
  from {
    scale: 0;
  }
  75% {
    scale: 1.1;
  }
  to {
    scale: 1;
  }
}
@keyframes lazyloading {
  0%{
    transform-origin: 50% bottom;
    transform: translateY(200px);
    scale: 0;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    scale: 1;
    opacity: 1;
  }
}

