@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    border-top-color: #9d59dc;
    border-bottom-color: #9d59dc;
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    border-top-color: #e586df;
    border-bottom-color: #e586df;
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
@keyframes stop {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes hearth {
  from {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(1.1);
  }
  to {
    transform: scaleY(1.1);
  }
}
@keyframes lazyloading {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes check {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
