@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: row;
  }
}
* {
  box-sizing: border-box;
  margin: 0 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ol {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}
header img {
  display: flex;
  justify-content: center;
  height: 30px;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
header nav {
  position: absolute;
  top: 15px;
  left: 5px;
}

#titles {
  padding-top: 30px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#titles h1 {
  width: 40%;
}
#titles i {
  margin-right: 20px;
  font-size: 1.3em;
}

#menu {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-family: "Shrikhand", cursive;
  padding-top: 20px;
  margin-top: -20px;
}
main img {
  width: 100%;
  height: 200px;
  margin-bottom: -40px;
  object-fit: cover;
  z-index: 4;
}
main section {
  padding-top: 20px;
  width: 100%;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  font-size: 1em;
}
main section .border {
  display: block;
  width: 40px;
  border: 1px solid green;
  margin-top: -10px;
  margin-bottom: 10px;
}
main section h2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
}
main section article {
  display: flex;
  border-radius: 15px;
  padding: 5px;
  min-width: 360px;
  max-width: 450px;
  margin-bottom: 10px;
}
main article {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px rgb(219, 219, 219);
}
main article div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 80%;
  padding: 5px;
}
main article div h3 {
  display: flex;
  width: 100%;
  font-size: 1em;
}
main article div p {
  display: flex;
  flex-basis: 100%;
  font-size: 1em;
}
main article span {
  display: flex;
  align-items: flex-end;
}
main article i {
  display: none !important;
}
main a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  box-shadow: 0 5px 5px -5px #333;
  background: linear-gradient(#e586df, #9D59DC);
  margin: 30px;
  padding: 15px;
  border-radius: 50px;
  color: white;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding-bottom: 15px;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
}
footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -12px;
  color: white;
}
footer ul li {
  padding-bottom: 8px;
}
footer ul li a {
  color: white;
}
footer ul li a i {
  width: 14px;
  margin-right: 10px;
}

/*# sourceMappingURL=alafrancaise.css.map */
