$fonts: 'Roboto', sans-serif;
$fonts-logo: 'Shrikhand', cursive;
$primary-color: rgb(246, 246, 246);
$position-color: rgb(234, 234, 234);
$footer-color: rgb(53, 53, 53);
$button-color: linear-gradient(#e586df, #9D59DC);
$border: 1px solid purple;