$fonts: 'Roboto', sans-serif;
$fonts-logo: 'Shrikhand', cursive;
$primary-grey-color: rgb(246, 246, 246);
$position-grey-color: rgb(234, 234, 234);
$grey-font: rgb(133,133,133);
$footer-black-color: rgb(53, 53, 53);
$purple-hover: rgb(245,236,255);
$green: rgb(140,228,206);
$dark-green: rgb(10, 99, 75);
$button-color: linear-gradient(#e586df, #9D59DC);
$purple: rgb(151,86,218);
$purple-hover: rgb(245,235,255);

$medium: 992px;
$large: 992px;
$small-up : "screen and (max-width: #{$medium})";
$medium-down : "screen and (min-width: #{$medium})";
$large-down : "screen and (min-width #{$large})";